#svg {
	border: 1px solid red;
	/* background-color: red; */
}

/* #back {
	position: absolute;
	top: 25px;
	z-index: -1;
	width: 367px;
	height: 83px;
	background-color: red;
} */

#filler {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
}
